/* Write your CSS here */
.container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 45px;
}
.paragraph {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 20px;
}

.btn-class {
  background-color: #ffffff;
  border-width: 0px;
  border-radius: 5px;
  font-family: 'Bree Serif';
  font-size: 13px;
  padding: 5px;
}
